:host {
  display: block;
  padding: 20px;
  background-color: #f4f4f4;
}

.car-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}

@media (max-width: 1200px) {
  .car-card-container {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .car-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .car-card-container {
    grid-template-columns: 1fr;
  }
}
