<div class="filter-controls">
  <div class="filter-group">
    <input type="text" [(ngModel)]="filters.brand" (ngModelChange)="onFilterChange()" placeholder="Brand">
  </div>
  <div class="filter-group">
    <input type="text" [(ngModel)]="filters.model" (ngModelChange)="onFilterChange()" placeholder="Model">
  </div>
  <div class="filter-group">
    <mat-select [(ngModel)]="filters.year" (selectionChange)="onFilterChange()" placeholder="Year">
      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </div>
  <div class="filter-group">
    <input type="text" [(ngModel)]="filters.color" (ngModelChange)="onFilterChange()" placeholder="Color">
  </div>
  <div class="filter-group">
    <mat-select [(ngModel)]="filters.fuelType" (selectionChange)="onFilterChange()" placeholder="Fuel Type">
      <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel">{{ fuel }}</mat-option>
    </mat-select>
  </div>
  <div class="filter-group">
    <input type="number" [(ngModel)]="filters.price" (ngModelChange)="onFilterChange()" placeholder="Max Price">
  </div>
  <div class="filter-group">
    <input type="number" [(ngModel)]="filters.distance" (ngModelChange)="onFilterChange()" placeholder="Max Distance">
  </div>
  <div class="filter-group">
    <input type="text" [(ngModel)]="filters.transmission" (ngModelChange)="onFilterChange()" placeholder="Transmission">
  </div>
  <div class="filter-group">
    <mat-select [(ngModel)]="filters.type" (selectionChange)="onFilterChange()" placeholder="Type">
      <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </div>
  <div class="filter-group">
    <input type="text" [(ngModel)]="filters.locationCity" (ngModelChange)="onFilterChange()" placeholder="Location City">
  </div>
  <div class="filter-group">
    <input type="text" [(ngModel)]="filters.locationCountry" (ngModelChange)="onFilterChange()" placeholder="Location Country">
  </div>
</div>
