mat-card {
  margin: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  background-color: #2b2b2b;  border: 2px solid #ffd700;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

mat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.8);
  background-color: #1f1f1f;
}

mat-card-content {
  padding: 16px;
  color: #ffffff;
}

mat-card-content p {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  color: #b3b3b3;
}

mat-card-content mat-icon {
  margin-right: 8px;
  color: #ff4500;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 16px;
  color: #ffd700;
  font-family: 'Impact', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 5px #ffd700;
  letter-spacing: 1px;
}
